.header{
    padding: 10px 0;
    background: url(../images/bg/header-bg1.png);
    background-position: right;
    background-size: cover;
    height: 100vh;
}
.logo {
    width: 100px;
    height: 100px;
    margin-left: 15px;
}
.hamburger i{
    color: #251973;
    position: absolute;
    top: 30px;
    right: 15px;
}